@mixin text-overflow($width:100%, $line:1) {
  width: $width;
  overflow: hidden;
  text-overflow: ellipsis;
  @if($line == 1) {
    white-space: nowrap;
  } @else {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
  }
}